
body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(233, 233, 233);
}

.App {
  display: flex;
  flex-direction: column;
  width: 800px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  min-height: 400px;
  max-height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 65px auto;
  box-shadow: rgb(116, 115, 115) 0px 4px 4px;
}

@media (max-width: 800px) {
  .App {
    width: 350px;
  }
}

.search-bar {

 border: none;
 border-bottom: 1px solid #d3d3d3;
 width: 90%;
 font-family: "Raleway",sans-serif;
 font-size: 25px;
 margin: 10px 10px 0;
 padding: 12px;
 outline: none;
 position: -webkit-sticky;
 position: sticky;
 z-index: 1;
 top: 10px;
 

}
 
